<div class="row no-gutters dialog-header">
    <div class="col">
        <h1 mat-dialog-title>Prescrições anteriores</h1>
    </div>
    <div class="col-4 patient">
        <div class="row w-100 pt-2">
            <div class="col-12">
                {{ data.patient.name}}
            </div>
            <div class="col">
                {{ data.patient.age + ' anos' }}
            </div>
            <div class="col">
                {{ data.patient.gender }}
            </div>
        </div>
    </div>
</div>
<div mat-dialog-content class="mt-4">
    <app-patient-prescriptions [patient_id]="data.patient.id"></app-patient-prescriptions>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" class="ml-auto" [mat-dialog-close]>fechar</button>
</div>