<div class="container">
    <div class="row row align-items-start">
        <div class="col-12">
            <h3>Criar prescrição</h3>
        </div>

        <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
                <input type="text" matInput placeholder="episódio" [formControl]="episodeControl"
                    [matAutocomplete]="auto" />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <app-episode [episode]="selectedEpisode" *ngIf="selectedEpisode">
            </app-episode>
        </div>

        <ng-container *ngIf="selectedEpisode">
            <div class="col-12 col-md-6">
                <app-patient [patient]="patient">
                </app-patient>
                <app-previous [previous_prescriptions]="previous_prescriptions">
                </app-previous>
            </div>

            <div class="col-12 px-0 row">
                <div class="col-12">
                    <h4>Prescrição</h4>
                </div>
                <div class="col">
                    Medicamento
                </div>
                <div class="col-auto input">
                    Dose
                </div>
                <div class="col-auto input">
                    Quantidade
                </div>
                <div class="col-auto icon"></div>
                <div class="col-auto button"></div>

                <app-prescription class="d-flex col-12 px-0" *ngFor="let prescription of prescriptions; let i = index"
                    [prescription]="prescription" (removePrescription)="removePrescription(i)">
                </app-prescription>
                <app-prescription class="d-flex col-12 px-0" (addPrescriptionEmitter)="addPrescription()">
                </app-prescription>
            </div>

            <div class="col-auto ml-auto mt-5">
                <button mat-raised-button color="primary" (click)="submit()">
                    concluir
                </button>
            </div>
        </ng-container>
    </div>
</div>