:host {
    ::ng-deep {
        .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
            background-color: rgba(0, 0, 0, 0.42);
            background-image: none;
        }

        .col-auto.icon {
            width: 40px;
            padding: 0;
            mat-icon {
                cursor: pointer;
            }
        }
        .col-auto.button {
            width: 94px;
            mat-icon {
                cursor: pointer;
            }
        }
        .col-auto.input {
            width: 115px;
        }
    }
}
