<div class="row no-gutters mb-4" [formGroup]="episodeForm">
    <div class="col-12">
        <h4>Detalhes do episódio</h4>
    </div>
    <mat-form-field class="col-12">
        <mat-label>causa</mat-label>
        <textarea matInput formControlName="cause" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <mat-form-field class="col-12">
        <mat-label>diagnóstico</mat-label>
        <textarea matInput formControlName="diagnosis" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <mat-form-field class="col-12">
        <mat-label>notas</mat-label>
        <textarea matInput formControlName="notes" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
</div>