<div class="row no-gutters mb-4">
    <div class="col-12">
        <h4 class="mt-0">Prescrições anteriores</h4>
    </div>
    <ng-container *ngFor="let prescription of previous_prescriptions">
        <div class="col-12 row mt-1" *ngFor="let drug of prescription.drugs">
            <div class="col">
                {{ drug.drug_name }} <em>{{ drug.dose }}</em>
            </div>
            <div class="col-auto">
                <small>{{ prescription.date }}</small>
            </div>
        </div>
    </ng-container>
    <div class="col-auto ml-auto mt-3" *ngIf="previous_prescriptions.length; else no_prescriptions">
        <button mat-stroked-button color="primary" (click)="openDetails()">
            ver +
        </button>
    </div>
    <ng-template #no_prescriptions>
        <small><em>sem prescrições</em></small>
    </ng-template>

</div>