/* You can add global styles to this file, and also import other style files */

$header-height: 56px;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: rgb(242, 242, 255);
}

@import 'ui/bootstrap/bootstrap-grid.scss';

.header {
    height: $header-height;
}

.sub-header {
    min-height: calc(100% - #{$header-height});
}
